* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

  .flex-row{
    display: flex;
    flex-direction:row ;

  }

  .list-description{
    display: flex;
    flex-direction: column;
  }

  .job-detail-item{
    padding-right: 15px;
  }

  .list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
  }

  .skills-list{
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .skill{
    padding-right: 10px;;
  }