@import 'variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    
  }

  .background{
    background: repeat-x url('./images/bg-header-desktop.svg')  $DarkGrayishCyan;
    height: 156px;
  }

  .main-container{
    width: 80%;
    margin: auto;
    margin-top: -70px;
  }

  .flex-row{
    display: flex;
    flex-direction:row ;

  }

  .list-description{
    display: flex;
    flex-direction: column;
    align-self: center;
    color: $DarkGrayishCyan;
  }

  .job-description-row{
    padding: 5px 5px 5px 0;
    align-items: center;
  }

  .list-item{
    display: grid;
    grid-template-columns: .6fr 3fr 2fr;
    background: $LightGrayisCyan;
    box-sizing:border-box;
    height: 150px;
    padding: 35px;
    margin: 20px;
    -webkit-box-shadow: 2px 6px 15px -4px rgba(123,142,142,0.5);
    -moz-box-shadow: 2px 6px 15px -4px rgba(123,142,142,0.5);
    box-shadow: 2px 6px 15px -4px rgba(123,142,142,0.5);

    &-focus{
      border-left: 5px solid $DesaturatedDarkCyan;
    }
  }

  .list-image{
    align-self: center;
    padding-left: 10px;
  }

  //job role
  .job-role{
    color: $VeryDarkGrayishCyan;
    cursor: pointer;
    
    &:hover{
      color: $DarkGrayishCyan;
    }
  }

  //Job-details
  .job-detail{
    &__item{
      font-weight: 500;
      border-radius: 15px;
     
      &--details{
        padding-right: 15px;
      }
      
      &--new{
        font-size: 11px;
        background: $DarkGrayishCyan;
        color: white;
        text-transform: uppercase;       
        margin: 0 8px 0 15px;
        padding: .5em .7em .3em .7em;
      }

      &--featured{
        font-size: 11px;
        background: $VeryDarkGrayishCyan;
        color: white;
        text-transform: uppercase;
        padding: .5em .7em .3em .7em;
      }
    }
  }

  //Skills
  .skills-list-container{
    align-self: center;
  }

  .skills-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
  }

  .skill{
    background: $LightGrayishCyan;
    color: $DarkGrayishCyan;
    font-weight: 700;
    border-radius: 5px;
    padding: 8px;
    margin-right: 12px;

    &:hover{
      background: $DarkGrayishCyan;
      color: white;
      cursor: pointer;
    }
  }

  .selected-skill{
    background: $LightGrayishCyan;
    padding: .5em 1em .3em .7em;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    
    &__remove-icon{
      background: $DarkGrayishCyan;
      padding: .5em .7em .3em .7em;
      margin-right: 8px;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      cursor: pointer;
    }
  }

  .filter-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: $LightGrayisCyan;
    padding: 35px;
    margin: 20px;
    -webkit-box-shadow: 2px 6px 15px -4px rgba(123,142,142,0.5);
    -moz-box-shadow: 2px 6px 15px -4px rgba(123,142,142,0.5);
    box-shadow: 2px 6px 15px -4px rgba(123,142,142,0.5);  

    &--inVisible{
      visibility: hidden;
    }
  }

  .clear-button{
    cursor: pointer;
    color: $DarkGrayishCyan;
    &:hover{
      text-decoration: underline;;
    }
  }