@import 'variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    
  }

  .main-container{
    width: 80%;
    margin: auto;
  }

  .flex-row{
    display: flex;
    flex-direction:row ;

  }

  .list-description{
    display: flex;
    flex-direction: column;
    align-self: center;
    color: $DarkGrayishCyan;
  }

  .job-description-row{
    padding: 5px 5px 5px 0;
  }

  .job-detail-item{
    padding-right: 15px;
  }

  .list-item{
    display: grid;
    grid-template-columns: .6fr 3fr 2fr;
    background: $LightGrayisCyan;
    box-sizing:border-box;
    cursor: pointer;
    height: 150px;
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 2px 6px 15px -4px rgba(123,142,142,0.5);
    -moz-box-shadow: 2px 6px 15px -4px rgba(123,142,142,0.5);
    box-shadow: 2px 6px 15px -4px rgba(123,142,142,0.5);
    
    &-focus{
      border-left: 5px solid $DesaturatedDarkCyan;
    }
  }

  .list-image{
    align-self: center;
    padding-left: 10px;
  }

  //job role
  .job-role{
    color: $VeryDarkGrayishCyan;

    &:hover{
      color: $DarkGrayishCyan;
    }
  }

  //Job-details
  .job-detail{
    &__item{
      font-weight: 500;
      border-radius: 10px;

      &--new{
        box-sizing: border-box;
        font-size: 11px;
        background: $DarkGrayishCyan;
        color: white;
        text-transform: uppercase;       
        margin: 0 15px 0 15px;
        padding: 4px 4px 0 4px;
      }

      &--featured{
        box-sizing: border-box;
        font-size: 11px;
        background: $VeryDarkGrayishCyan;
        color: white;
        text-transform: uppercase;
        padding: 4px 4px 0 4px;
      }
    }
  }

  //Skills
  .skills-list-container{
    align-self: center;
  }

  .skills-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
  }

  .skill{
    background: $LightGrayishCyan;
    color: $DarkGrayishCyan;
    font-weight: 700;
    border-radius: 5px;
    padding: 8px;
    margin-right: 12px;

    &:hover{
      background: $DarkGrayishCyan;
      color: white;
      cursor: pointer;
    }
  }